/*----- reset -----*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, address, em, img, strong, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, thead, tbody, tfoot, tr, th, td{border:0;font-family:inherit;font-size:100%;margin:0;outline:0;padding:0;}

:focus{outline:0;}
ol, ul{list-style:none;}
table{border-collapse: collapse;border-spacing: 0;width: 100%;}
img{vertical-align:top}
.z-window-content {padding:0px;}

/*----- common -----*/
html,body{height: 100%;}
body{padding: 0px !important;background-color:#fff;color:#000;font:normal normal 100%; font-family: 'open_sansregular';line-height:1.5em;font-size:0.8125em;}
input,select,textarea{color:#38444f;font:normal normal 1em roboto, Helvetica, sans-serif;}
input{border:0}
input[type="search"]{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
input[type="checkbox"],input[type="radio"]{box-sizing: border-box;padding: 0;}
*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
*:before,*:after{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
a:link, a:visited{color:#000;}
a:hover{color:#114285}
a:link,a:visited,a:hover,a:focus,button{text-decoration:none;outline:0;
/*
-webkit-transition:all 0.8s ease-in-out;-moz-transition:all 0.8s ease-in-out;-o-transition:all 0.8s ease-in-out;transition:all 0.8s ease-in-out;
*/
}

.btn:focus{outline:0 !important}
img{width:auto\9;height:auto;max-device-width:100%;vertical-align:middle;-ms-interpolation-mode:bicubic;}



span.error {color:red;}
.row {padding-right: 6px;}
/*----- font face -----*/
@font-face {font-family: roboto-bold;src: url('../font-face/Roboto-Bold.ttf')  format('truetype');font-weight: normal;font-style: normal;}
@font-face {font-family: roboto-regular;src: url('../font-face/Roboto-Regular.ttf')  format('truetype');font-weight: normal;font-style: normal;}
@font-face {font-family: 'roboto-medium';src: url('../font-face/Roboto-Medium.ttf')  format('truetype');font-weight: normal;font-style: normal;}
@font-face {font-family: 'roboto-black';src: url('../font-face/Roboto-Black.ttf')  format('truetype');font-weight: normal;font-style: normal;}
@font-face {font-family: 'roboto-italic';src: url('../font-face/Roboto-Italic.ttf')  format('truetype');font-weight: normal;font-style: normal;}
@font-face {font-family: 'opensans-italic';src: url('../font-face/OpenSans-Italic.ttf')  format('truetype');font-weight: normal;font-style: normal;}
@font-face {font-family: 'opensans-semibold';src: url('../font-face/OpenSans-Semibold.ttf')  format('truetype');font-weight: normal;font-style: normal;}

/* .wd-loading {background-color: #fff;position: absolute;left: 0;top:0;width: 100%;height: 100%;z-index: 99999999} */


/* BEGIN HEADER */
a#wd-logo:before,a#wd-logo:after,.wd-top-info:before,.wd-top-info:after{display: table;content: " ";}
a#wd-logo:after ,.wd-top-info:after{clear:both}
a#wd-logo{background:url(../images/front/logo2.png) no-repeat scroll;width:700px;height:79px;float:left;margin:16px -100% 16px 0}
.wd-banner-home {margin-bottom: 0 px; text-align: center; background: url(../images/bg2.jpg);height: 432px;}
.wd-banner-home img{ max-height: 431px !important; max-device-width: 100%; }
.wd-banner-home img.img-banner-home {width: 100%;}
.wd-banner-home .hidden-xs { margin-top: -100px; }

/* #wd-head-container{background-color: #fff; height: 111px} */
.block_header {height: 111px}


#wd-wrapper .container-fluid #wd-head-container{background-color: #fff; }
.btn-hamburger { float: left; margin-right: 10px;}
.btn-hamburger { cursor: pointer; padding: 24px 17px 23px 0px;}
.btn-hamburger span, .btn-hamburger span:before, .btn-hamburger span:after {cursor: pointer;border-radius: 1px;height: 2.5px;width: 19px;background: #fff;position: absolute;display: block;content: '';}
.btn-hamburger span:before {top: -8px;}
.btn-hamburger span:after {bottom: -8px;}
.btn-hamburger span, .btn-hamburger span:before, .btn-hamburger span:after {transition: all 500ms ease-in-out;}
.btn-hamburger.active span {background-color: transparent;}/* 
.btn-hamburger.active span:before, .btn-hamburger.active span:after {top: 0;}
.btn-hamburger.active span:before {transform: rotate(45deg);}
.btn-hamburger.active span:after {transform: translateY(-10px) rotate(-45deg);top: 10px;} */

/* sidebar */
#sidebar-wrapper {z-index: 1000;position: absolute;right:0px;width: 0;height: 100%;margin-left: -250px;overflow-y: auto;background: #14426B;
/*
-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;
*/
}
#wd-wrapper.toggled #sidebar-wrapper {width: 250px;}
#page-content-wrapper { width: 100%; position: absolute; padding: 15px;}
#wd-wrapper.toggled #page-content-wrapper {position: absolute;margin-right: -250px;}

.menu-mobile { width: 100%;}
.menu-mobile li > a { background-color: #003d73; padding: 10px 15px; display: block; color: #fff; text-transform: capitalize; font-size: 12px; border-top: 1px solid #003462; font-family: roboto-bold; font-weight:bold;}
.menu-mobile li > a:hover {background: rgba(255,255,255,0.2);}
.menu-mobile .mobile-submenu li > a { color: #fff; background-color: transparent; border-top: 1px solid #00396f; padding-left:25px; font-family: roboto-regular; font-weight:normal;}
.menu-mobile .mobile-submenu li > a:hover {background: rgba(255,255,255,0.2);}
.menu-mobile .menu-home {clear:both;overflow:hidden;}
.menu-mobile .menu-home a {float:left;}
.menu-mobile .menu-home a.homep {width:56%;}
.menu-mobile .menu-home a.homeflag img {width:37px !important;}
.menu-mobile .menu-home a.homeflag.langVn {width:22%;padding:8px 5px 9px 6px;}
.menu-mobile .menu-home a.homeflag.langEn {width:22%;padding:8px 5px 9px 6px;margin-left:0px;}

.wd-page-header {float: right;}
.wd-top-info{float:right;margin-top:8px; width:100%}
ul.wd-panel:before,ul.wd-panel:after{content: "";display: table;line-height: 0;}
ul.wd-panel:after{clear:both}
ul.wd-panel{list-style:none}
ul.wd-panel > li{float:right;padding:0 5px;border-right:1px solid #b0b0b0;min-height:20px}
ul.wd-panel > li:first-child{border-right:0;padding-right:0;}
ul.wd-panel > li .weather{line-height:27px;font-size:11px}
ul.wd-panel li a{ font-family: roboto-regular; font-size:12px; color: #535353; ;padding-left:4px; }
ul.wd-panel li a:hover{color: #d80707;}
ul.wd-panel li img {margin-top: -4px;}

.wd-top-search {height: 33px;width: 250px;float: right; border: 1px solid #BEBEBE;border-radius: 18px; margin-top: 5px;}
.wd-top-search .z-textbox { font-family: opensans-italic; text-align: center; border:none; width: 215px; height: 31px; border-radius: 16px 0px 0px 16px;}
.wd-top-search a.bt-search {background:url(../images/front/icon-search.png) no-repeat scroll;height:18px;width:18px;position: absolute;margin-left:6px;margin-top:6px;}
.wd-top-search .bt-search {background:url(../images/front/icon-search.png) no-repeat scroll;height:18px;width:18px;position: absolute;margin-left:6px;margin-top:6px;}
.wd-top-calendar {float: right; margin-top: 7px; margin-right: 30px; color: #005299;}
.wd-top-calendar span { font-family: roboto-medium; color: #2767b3; font-style: italic; }
.wd-top-calendar .icon-calendar {background:url(../images/front/icon-calendar.svg) no-repeat scroll;width: 15px;height: 17px;padding-left:18px;padding-bottom:2px;}
.wd-language-l{overflow:hidden;padding:6px 0 3px;}
.wd-language-l li a{height:13px}
.wd-language-l li,.wd-language-l li a{float:left;}
.langEn{margin-left:5px;}
.wd-language-l li{line-height:normal}
.wd-language-l li a img{vertical-align:top;width:19px;height:13px}

ul.wd-dropdownMenu li:hover .dropdown-menu {display: block;}
ul.wd-dropdownMenu li ul.dropdown-menu {margin-top: -1px;background-color:#005299;padding: 0px;border-radius:0px;}
ul.wd-dropdownMenu li ul.dropdown-menu li {border-bottom: 1px solid #fff;}
ul.wd-dropdownMenu li ul.dropdown-menu li a {font-family: roboto-bold; background: #005299; font-size: 12px; color: #fff;padding: 10px 20px;}
ul.wd-dropdownMenu li ul.dropdown-menu li a:hover {background-color: rgb(129,179,48);}
ul.wd-dropdownMenu li.action {background-color: rgb(129,179,48);}
ul.wd-dropdownMenu li ul.dropdown-menu li.clear-bottom-border {
	border-bottom: none !important;
}

/* sub menu */
.dropdown-submenu {position: relative; }
.dropdown-submenu > .dropdown-menu {top: 0;left: 100%;margin-top: -6px;margin-left: -1px;-webkit-border-radius: 0 6px 6px 6px;-moz-border-radius: 0 6px 6px;border-radius: 0 6px 6px 6px;display: none !important;}
.dropdown-submenu:hover > .dropdown-menu { display: block !important; }
.dropdown-submenu > a:after {display: block;content: " ";float: right;width: 0;height: 0;border-color: transparent;border-style: solid;border-width: 5px 0 5px 5px;border-left-color: #ccc;margin-top: 5px;margin-right: -10px; }
.dropdown-submenu:hover > a:after {border-left-color: #fff; }
.dropdown-submenu.pull-left {float: none; }
.dropdown-submenu.pull-left > .dropdown-menu {left: -100%;margin-left: 10px;-webkit-border-radius: 6px 0 6px 6px;-moz-border-radius: 6px 0 6px 6px;border-radius: 6px 0 6px 6px; }

/*menu-desktop*/
#wd-menu-desktop{background-color: #0c83d6;}
ul.wd-dropdownMenu{height:46px; }
ul.wd-dropdownMenu > li{display:inline;position:relative;float:left; /* background:url(../images/front/bdr-bg.png) no-repeat right top scroll; */ }
ul.wd-dropdownMenu .mega-menu-dropdown:hover .dropdown-menu{display:block;}
ul.wd-dropdownMenu > li:first-child a{border-left:0}
ul.wd-dropdownMenu > li > a{font-size:13px;text-transform:uppercase;font-family: 'roboto-bold';color:#fff;display: block;float:left;padding:14px 12px; /* background:url(../images/front/bdl-bg.png) no-repeat left top scroll; */ width:100%;text-align:center; /* font-weight:bold */ }
ul.wd-dropdownMenu > li:hover > a,ul.wd-dropdownMenu > li > a:hover,ul.wd-dropdownMenu li a.current{color:#fff;background-color: rgb(129,179,48)}
ul.wd-dropdownMenu > li > a.link-home{padding:0 8px;background-color:#005299}
ul.wd-dropdownMenu > li > a.link-map{padding:0px 8px;line-height:25px;width:100%}
ul.wd-dropdownMenu > li > a.link-home:hover,ul.wd-dropdownMenu > li > a.link-home.current,ul.wd-dropdownMenu > li > a.link-map:hover,ul.wd-dropdownMenu > li > a.link-map.current{background-color:#0e64af}
.menu-link-rss { font-family: roboto-bold; float: right; position: relative; right: 25px; margin-top: 10px; }
.menu-link-rss .icon-link-rss { background: url(../images/icon-rss.png) no-repeat scroll; padding-left: 28px; padding-bottom: 13px; }
.menu-link-rss span { position: absolute; top: 4px;padding-left: 5px;}
.menu-link-rss a { color: #ffffff; }

/*drop-down*/
.mega-menu-dropdown .dropdown-menu {margin-top: 0 !important;padding:0;border: none;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;background:#fff;border-bottom:4px solid #005299;min-device-width:610px;-webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);-moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.75);box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.75);}
.mega-menu-dropdown .mega-menu-content {padding:17px 20px;font-family: 'open_sansregular';font-size:13px;margin: 0;}
.mega-menu-dropdown .wd-dropdown-menu-cus1{min-device-width:795px}
.mega-menu-dropdown .wd-dropdown-menu-cus2{min-device-width:185px}
/*sub menu*/
ul.mega-menu-submenu {padding-left:10px;padding-right:10px;}
ul.mega-menu-submenu li a{color:#005299;font-size:13px;padding:6px 10px 6px 26px;display:block;background:url(../images/front/arrow-menu-hover.png) no-repeat 8px 12px scroll}
ul.mega-menu-submenu li a:hover{background:url(../images/front/arrow-menu.png) no-repeat 8px 12px #ff5a03 scroll;color:#fff}

/* mobile search */ 
.mobile-search {width:100%;height:44px;background-color: rgb(7, 114, 189);position: absolute;z-index: 99999999;text-align:center;top:52px;margin-right:0px;margin-left:0px;padding-right:0px;}
.mobile-search .mobile-search-div {width:80%;margin-left: auto;margin-right: auto;height: 44px;position: relative;}
.mobile-search .z-textbox {font-family: roboto-bold;width:100%;text-align: center;border: none; height: 31px;border-radius: 16px;margin-top:6px;}
.mobile-search a.bt-search {background: url(../images/front/icon-search.png) no-repeat scroll;height: 18px;width: 18px;position: absolute;top:14px;right:7px;}

/* mobile lang */
.mobile-lang {width:100%;height:35px;background-color: rgb(7, 114, 189);position: absolute;z-index: 99999999;text-align:center;top:52px;margin-right:0px;margin-left:0px;padding-right:0px;}


/* END HEADER */

/* Footer */
#wd-footer-container {font-family: roboto-regular; bottom:0; width:100%;}
#wd-footer-container .container-fluid {padding-right: 0px;padding-left: 0px;background:url(../images/front/footer.jpg) no-repeat rgb(0,35,77);background-position: center top; z-index: 20;}
.wd-footer-content-tcx {background-color: rgb(0,35,77);color: #fff;padding: 10px 0px;}
.wd-footer-content-tcx .wd-left-footer h2 {font-family: roboto-regular; font-size: 13px; display:inline-block;}
.wd-footer-content-tcx .wd-left-footer h2 a { font-family: roboto-regular; font-size: 13px; color: #00b02e; }
.wd-footer-content-tcx .wd-left-footer h2 a:hover { font-style: bold; font-weight: bold; }
.wd-footer-content .wd-content-footer h3 { color: #fff;padding-top:13px;padding-bottom:13px;text-transform:uppercase;}
.wd-footer-content .wd-content-footer ul li a{ color: #ffffff; padding-bottom: 3px; }
.wd-footer-content .wd-content-footer ul li a:hover{color: #d80707;}
.wd-footer-content .wd-content-footer ul {padding-bottom: 8px;padding-top: 10px;}
.wd-content-footer .sepa {border-bottom: 1px dashed #b2d4fd;} 
.wd-luottruycap {margin-top: 10px;}
.wd-luottruycap .wd-label {color: #fff;font-size: 13px;}
.wd-luottruycap .wd-border { border: 1px solid #b2d4fd; color:#b2d4fd; padding: 2px 4px;}
.content-panel {display: block;margin-bottom: 20px;border-bottom: 1px dotted #cccccc;padding-bottom: 15px;}

/******BEGIN Right Page *******/
.main-content-right {display: block;width: 300px;float: left;margin-left: 20px;}
.wd-ct-r {width: 100%;margin-bottom: 30px;}
.wd-ct-r-header { background-color: #0c83d6; height: 35x;}
.wd-ct-r-header h3 { font-family: roboto-bold; padding: 12px 15px; color: #fff; font-size: 14px;font-weight:normal; font-style: normal;text-transform: uppercase;}

/* THONG TIN CAN BIET */
/* .wd-ct-r.info {margin-top:17px;} */
.wd-ct-r-info-content {background-color: rgb(246, 246, 246);height: 100%;}
.wd-ct-r-info-content ul { margin: 0px 10px; }
.wd-ct-r-info-content ul li {border-bottom: 1px solid #C0B4B4;padding: 7px 0px 10px 0px;}
.wd-ct-r-info-content ul li.last {border-bottom: none;}
.wd-ct-r-info-content ul li a {font-size: 12px;color: #3d3d3d; font-weight: normal; font-style: normal; }
.wd-ct-r-info-content ul li a:hover {color: #d80707;}
.wd-ct-r-info-content ul li a span {font-family: roboto-bold; width:100%;padding-left:9px;}
.wd-ct-r-info-content ul li a img {margin-top:-3px;max-device-width:17px;max-height:17px;}

/* KET QUA TRA HO SO */
.wd-ct-r-result-content {border: 2px solid rgb(246, 246, 246);height: 100%;}
.wd-ct-r-result-content .content-string {padding: 15px 20px 10px 20px;}
.wd-ct-r-result-content .content-string p { font-family: roboto-regular; color: #414141; font-size: 14px; font-weight: normal; font-style: normal; display: block; padding-bottom: 5px;}
.wd-ct-r-result-content .content-string input {margin-top: -2px; margin-right: 5px;}
.wd-ct-r-result-content .wd-string-long input {margin-top: -40px;}
.wd-ct-r-result-content .wd-string-long label {width: 222px;}
.wd-ct-r-result-content .content-input {padding: 0px 10px 10px 10px;text-align: center;}
.wd-ct-r-result-content .content-input .cbb .z-combobox-input{ font-family: roboto-regular; border-radius: 0px;height: 29px;border-right: none;width: 250px;}
.wd-ct-r-result-content .content-input .cbb .z-combobox-button {font-family: roboto-regular; background-color: #ffffff;margin-top: 1px;height: 29px;border-left:none;border-radius: 0px;}
.wd-ct-r-result-content .content-input .z-textbox{border-radius: 0px;height: 29px;width: 273px;margin-top:10px;}
.wd-ct-r-result-content .content-input button {font-family: roboto-regular;  margin-top:10px;}
.wd-ct-r-result-content .btn.btn-info {background-color: #0c83d6;}
.wd-ct-r-result-content .btn.btn-info:hover {background-color: rgb(129,179,48);}
.wd-ct-r-result-content .icon-search {background: url(../images/icon_search2.png) no-repeat scroll; padding-left:29px;width: 15px;height: 17px;}

/* VIDEO */
.wd-ct-r-video-content { width: 100%; position: relative; }
#wd-ct-r-video-content-vid { width: 100% !important; min-height: 250px !important; }
.wd-ct-r-video-content-vid-title { background-color: black; width: 100%; height: 37px; position: absolute; bottom: 0px; padding-top: 8px; text-align: center; }
.wd-ct-r-video-content-vid-title p { font-family: roboto-medium; color: #fff; font-size: 12px; }
.wd-list-video .wd-list-how { border: 1px solid #dcdcdc; }
.wd-list-video li { margin-bottom: 25px; padding: 0; vertical-align: top; text-align: center; }
.wd-list-video li a { font-family: roboto-regular; font-style: normal; font-size: 13px; color: #535353; }
.row-video { margin-top: 0px; margin-left: 3px; margin-right: 0px; }

/* .wd-list-video a > .hover { width: 100%; height: 100%; position: absolute; top: 0; left: 0; text-align: center; padding: 29px; background: #000; opacity: 0.5; }
.wd-list-video .hover .flat-icons-play.lager { background-position: -17px -164px; width: 40px; height: 40px; line-height: 40px; }
.wd-list-video .hover .flat-icons-play { background: url("../images/flat-icons.png"); display: inline-block; } */

.dlgVideo { background: #f0f0f0; color: #444; height: 432px !important; border: 1px solid rgb(246, 246, 246); }
.dlgVideo .dlgVideo-vid  { margin-left: 0 px; margin-top: 0 px; }
.dlgVideo .dlgVideo-vid #video { width: 100% !important; height: 400px !important; }
.dlgVideo .dlgVideo-title { margin-left: 18px; margin-top: 5px; font-family: roboto-bold !important; font-size: 13px !important;  }
.dlgVideo-header { background: #0c83d6; font-family: roboto-bold; font-size: 13px; height: 30px; padding: 6px; color: #fff; }

.dlgVideo .z-icon-times { float: right; cursor: pointer; margin-right: 10px; }
/* .dlgVideo .z-icon-times:hover { background-color: #535353; width: 15px; padding-left: 2px; } */
.dlgVideo-content {max-device-width: 100%; position: relative;}


/*LIEN HE */
.wd-ct-r-contact-content { font-family:roboto-regular; font-weight:normal; border: 2px solid rgb(246, 246, 246);height: 100%;padding: 15px 3px 6px 15px;font-size:14px;}
.wd-ct-r-contact-content p { color: #3d3d3d; padding-bottom: 9px; }
.wd-ct-r-contact-content p .wd-ct-r-contact-content-dc, .wd-ct-r-contact-content p .wd-ct-r-contact-content-sdt, .wd-ct-r-contact-content p .wd-ct-r-contact-content-email { font-family: roboto-bold !important; font-weight: normal; color: #3d3d3d !important;font-size:13px; }
.wd-ct-r-contact-content p .wd-ct-r-contact-content-ctdc { font-family: roboto-regular !important; font-weight: normal; font-size: 13px; color: #3d3d3d; } 
.wd-ct-r-contact-content p .wd-ct-r-contact-content-ctsdt { font-family: roboto-bold !important; font-weight: normal; font-size: 13px; color: #3d3d3d; } 
.wd-ct-r-contact-content p .wd-ct-r-contact-content-ctemail { font-family: roboto-bold !important; font-weight: normal; font-size: 13px; color: #0574bd; } 
.wd-ct-r-contact-content p img { padding-right: 5px;margin-top: -4px;}

/* LIEN KET */
.wd-ct-r-link {border: 1px solid #808080;height: 40px;margin-top:20px;margin-bottom: 20px;}

.wd-ct-r-link .cbb-link {  height: 38px;border: none;width: 100%; padding: 4px; margin-bottom: 10px; }
.wd-ct-r-link .cbb-link .z-combobox-input { border-radius: 0px;height: 38px;border: none;}
.wd-ct-r-link .z-combobox-button {background-color: rgb(12, 131, 215); height: 38px; width: 38px;right: 16px; position: absolute; bottom: 21px; pointer-events : none;}
.wd-ct-r-link .z-combobox-button .z-combobox-icon { color: #fff; padding-left:6px; position: absolute; top: 10px;}
.wd-ct-r-link .cbb-link, .wd-ct-r-link .cbb-link .z-combobox-input { font-family: roboto-bold,Sans-serif; font-size: 13px; font-weight: normal; font-style: normal; margin: 0; padding: 4px 10px; line-height: 14px; background: #fff; }

/******END Right Page *******/

/* ICON */
.icon {width: 25px;height: 20px;margin-top: 2px;position: absolute;}
.icon-news {background:url(../images/front/icon-news.svg) no-repeat left 0px;}
.icon-gioithieu {background:url(../images/icon-gioithieu.png) no-repeat left 0px;margin-top: -1px;}
.icon-thongbao {background:url(../images/front/icon-thongbao.svg) no-repeat left 2px;}
.icon-notices {background:url(../images/front/icon-thongbao.svg) no-repeat left 2px;}
.icon-datdai {background:url(../images/front/icon-datdai.svg) no-repeat left 2px;margin-top: -1px;height: 23px;}
.icon-land {background:url(../images/front/icon-datdai.svg) no-repeat left 2px;margin-top: -1px;height: 23px;}
.icon-moitruong {background:url(../images/front/icon-moitruong.svg) no-repeat left 2px;height: 27px; margin-top: -3px;margin-left:4px;}
.icon-environment {background:url(../images/front/icon-moitruong.svg) no-repeat left 2px;height: 27px; margin-top: -3px;margin-left:4px;}
.icon-tainguyennuoc {background:url(../images/front/icon-tainguyennuoc.svg) no-repeat left 2px;height: 23px;margin-top: -1px;}
.icon-waterresources {background:url(../images/front/icon-tainguyennuoc.svg) no-repeat left 2px;height: 23px;margin-top: -1px;}
.icon-khituongthuyvan {background:url(../images/front/icon-khituongthuyvan.svg) no-repeat left 2px;height: 22px;margin-top: 0px;}
.icon-hydrometeorological {background:url(../images/front/icon-khituongthuyvan.svg) no-repeat left 2px;height: 22px;margin-top: 0px;}
.icon-thanhtrakiemtra {background:url(../images/front/icon-thanhtrakiemtra.svg) no-repeat left 2px;height: 21px;width:19px;margin-top: 0px;margin-left: 3px;}
.icon-thanhtrakiemtraen {background:url(../images/front/icon-thanhtrakiemtra.svg) no-repeat left 2px;height: 21px;width:19px;margin-top: 0px;margin-left: 3px;}
.icon-congnghethongtin {background:url(../images/front/icon-congnghethongtin.svg) no-repeat left 2px;height: 23px;margin-top: -2px;}
.icon-informationtechnology {background:url(../images/front/icon-congnghethongtin.svg) no-repeat left 2px;height: 23px;margin-top: -2px;}
.icon-dauthau {background:url(../images/front/icon-dauthau.png) no-repeat left 2px;height: 18px;padding-top:1px;}
.icon-tracuuketqua {background:url(../images/front/icon-tracuuketqua.png) no-repeat left 2px;height: 18px;padding-top:1px;}
.icon-duan {background:url(../images/front/icon-duan.png) no-repeat left 2px;height: 18px;padding-top:1px;}
.icon-tailieuluutru {background:url(../images/front/icon-tailieuluutru.png) no-repeat left 2px;height: 18px;padding-top:1px;}
.icon-thongtinquantrac {background:url(../images/front/icon-thongtinquantrac.png) no-repeat left 2px;height: 18px;padding-top:1px;}
.icon-xulychatthai {background:url(../images/front/icon-xulychatthai.png) no-repeat left 2px;height: 18px;padding-top:1px;}
.icon-bocsdl {background:url(../images/front/icon-BoCSDL.png) no-repeat left 2px;height: 18px;padding-top:3px;padding-bottom: 27px;padding-top:1px;}
.icon-thongke {background:url(../images/front/icon-thongke.png) no-repeat left 2px;height: 18px;padding-top:1px;}
.icon-phapluat {background:url(../images/front/icon-phapluat.png) no-repeat left 2px;height: 18px;padding-top:1px;}
.icon-ketqua {background:url(../images/front/icon-ketqua.png) no-repeat left 2px;height: 18px;padding-top:1px;}
.icon-tinhhinhxuly {background:url(../images/front/icon-tinhhinhxuly.png) no-repeat left 2px;height: 18px;padding-top:1px;}
.icon-inbai {background:url(../images/front/icon-inbai.png) no-repeat left 2px;height: 20px;width: 20px;position:absolute;left:4px;margin-top:-3px; top: 6px}
.icon-guibai {background:url(../images/front/icon-guibai.png) no-repeat left 2px;height: 20px;width: 20px;position:absolute;left:4px;margin-top:-3px; top: 6px}
/* Body */
.main-content-left {display: block;float: left;width: 650px;margin-bottom: 20px;}
#wd-wrapper {padding-right: 0px;padding-left: 0px; background:url(../images/front/bg.png);  /* background-color:#A9A9A9; */z-index: 10;}
.wd-fix-mt .wd-center {background-color: #fff;margin-top: 10px;margin-bottom: 10px;padding-bottom: 10px;}
.wd-fix-mt .wd-center .row-fluid > div:first-child {padding-left: 2px;}
.wd-panel-h {display: block;background: #fff;height: 32px;overflow: hidden;margin-bottom: 15px;}
.wd-panel-h .wd-panel-h-title {color: #fff;font-size: 16px;padding: 5px 13px 6px 10px;margin-left: -2px;display:block;float:left;z-index: 0;}
.wd-panel-h .wd-panel-h-title span { font-family: roboto-bold; font-style: normal;  font-weight:normal; padding-left: 30px;}
.wd-panel-h .wd-panel-h-title {background: #2767b3;}
.wd-panel-h.se .wd-panel-h-title {background: #fff;color: rgb(12, 131, 215);margin-left:-9px;position:relative;}
.wd-main-content { font-family: roboto-regular; text-align: justify; }
.wd-panel-h .wd-panel-h-title span.caret {padding-left:0px;margin-left:14px;}
.wd-panel-h .wd-panel-h-title ul.dropdown-menu {top: 40px;left:133px;background-color:#2767b3;}
.wd-panel-h .wd-panel-h-title ul.dropdown-menu .dropdown-toggle {display:none}
.wd-panel-h .wd-panel-h-title ul.dropdown-menu li {padding: 5px 0px;}
.wd-panel-h .wd-panel-h-title ul.dropdown-menu li a {font-size:13px;}
.wd-panel-h .wd-panel-h-title ul.dropdown-menu li a:hover {background-color: rgb(129,179,48);}
.icon-arrow-alone { background-image: url('../images/front/arrow-alone.png'); width: 16px;height: 16px; margin-top: 7px; margin-left: 6px;}

.wd-panel-h {border-bottom: 2px solid #2767b3;}
.wd-panel-h-group { float: right;margin-top:4px;}
.wd-panel-h .wd-panel-h-rss { float: left; margin-top: 4px; margin-right: 4px; width: 28px; height: 15px; border-right: 1px solid #e5e5e5; }
.wd-panel-h .wd-panel-h-show { font-family: roboto-medium; color: #81b331; font-size: 12px;padding: 2px 4px;display:block;float:right;z-index: 0;font-weight:normal; font-style: inherit; }
.wd-content-new-hot div {text-rendering: geometricPrecision;}
.wd-content-new-hot span { font-family: roboto-regular; color: #414141; }
.wd-content-new-hot p{text-align: justify;}
.wd-days-resize-text {  }
span.wd-days {font-family: roboto-regular; color: #999999;font-size: 12px; padding-left: 17px;background: url(../images/front/icon-calender2.svg) no-repeat center left 2px transparent;margin: 1px 0px;font-style: italic;display:block;}
.float-left {float:left;}
span.wd-resize-text { position: absolute; right: 10px; }
.wd-resize-text-name { float: left; margin-right: 6px;}
.wd-resize-text-icon { float: left;  }
.wd-resize-text-icon a { padding-right: 5px; }
/* .wd-news-content span { font-size: 25px; } */
.icon-rss { background-image: url('../images/icon-small-rss.png'); width: 16px;height: 16px; margin-top: -1px; }
.icon-view-all { background-image: url('../images/icon-view-all.png'); padding-right: 16px; float: right;width: 16px;height: 16px; margin-top: 1px;}
.icon-trangchu { background-image: url('../images/home_16x16.gif'); width: 16px;height: 16px; margin-top: -1px; }
.icon-parent { background-image: url('../images/right_16x16.gif'); width: 16px;height: 16px; margin-top: -1px; }
.block-close-menu { position: absolute; height: 100%; width: 100%; z-index: 99; left: 0; top: 0; display:none; }
.hidden { overflow: hidden; }

/* Circle in Homepage*/
.wd-circle {width:105px;height:105px;background-color: rgb(12, 131, 214);position: relative;float:right;bottom: 60px;margin-right: 20px;border-radius: 50%;}
.wd-circle > div { width: 96px;height: 96px;border-radius: 50%;border: 1px solid rgb(55,153,221);position: absolute;top: 5px;left: 5px;}
.wd-circle > div img {position: absolute;top: 10px;left: 34px;}
.wd-circle .wd-circle-text1 {text-align:center;margin-top:40px;}
.wd-circle .wd-circle-text2 {text-align:center;}
.wd-circle > div > div a {  color: rgb(239,247,252);font-family: roboto-medium; font-size:11.3px;}


.row.row-custom {margin-left:-8px;}
/* Block type 1*/
.wd-list-type1 {overflow: hidden;width: 100%;float: left;padding-bottom: 12px; padding-top: 12px; border-bottom: 1px solid #999999;}
.wd-list-type1.type1-last {padding-bottom: 5px;}
.wd-list-type1 .wd-list-type1-content {margin-left: 100px;} 
.wd-list-type1 .wd-img-new-hot{display: block;float: left;margin-right: 10px;}
.wd-list-type1 .wd-img-new-hot img {width:90px; height:68px;}  
.wd-list-type1 li h3.wd-title-new{line-height: 16px;}
.wd-list-type1 li h3.wd-title-new a {font-family: roboto-bold; font-size: 13px;color: #3d3d3d;font-weight: normal; font-style: normal; }
.wd-list-type1 li h3.wd-title-new span {padding-top: 0px;}
.wd-list-type1 li h3.wd-title-new a:hover {color:#d80707;}

/* Block Type 2*/
.wd-list-type2 {background-color: #fff;}
.wd-list-type2 a.wd-img-new-hot {display:block; margin-bottom:10px;}
.wd-list-type2 a.wd-img-new-hot img { width:100%;height: 190px;}
.wd-list-type2 h4.wd-title-new {overflow:hidden; margin:2px 0px;}
.wd-list-type2 h4.wd-title-new a {font-family:roboto-bold; font-size:13px; font-weight:normal; font-style:normal;  color: #3d3d3d; line-height:16px;}
.wd-list-type2 h4.wd-title-new a:hover  {color:#d80707;}
.wd-list-type2 p {line-height:17px;font: 400 13px/16px roboto-regular;color: #646464;}
.wd-list-type2 .wd-st3-more { border-top: 1px solid #999999; padding-top: 10px; margin-top: 10px;}
.wd-list-type2 .wd-st3-more a {font-family:roboto-bold; color: #3d3d3d;font-weight:normal; font-style: normal;}
.wd-list-type2 .wd-st3-more a:hover {color:#d80707;}

/*----- Block Style-----*/
.wd-block-st {overflow:hidden; padding:0px 0px 10px 7px}
.wd-block-left {overflow:hidden; float:left; width:50%; min-height:100px;padding-right:2%}
.wd-block-right {overflow:hidden; float:left; width:50%;padding-left:2%} 
.wd-border-block-top-news {border-bottom: 1px solid #ADA1A1; }
.wd-block-top-news {margin-left: 3px;}

/*----- Block 1 -----*/
.wd-block-st .block1 {overflow:hidden; min-height:25px;}
.wd-block-st .block1 a.wd-img-new-hot {display:block; margin-bottom:10px;}
.wd-block-st .block1 a.wd-img-new-hot img { width:100%;height:190px;}
.wd-block-st .block1 h4.wd-title-new {overflow:hidden; margin:2px 0px;}
.wd-block-st .block1 h4.wd-title-new a {font-family: roboto-bold; font-size:13px; color: #3d3d3d; line-height:16px;}
.wd-block-st .block1 h4.wd-title-new a:hover  {color:#d80707;}
.wd-block-st .block1 p {font-family: roboto-regular; color: #646464; line-height:17px; }

.wd-block-st  .wd-block-st1-left {overflow:hidden; float:left; width:50%; min-height:25px;padding-right:2%}
.wd-block-st  .wd-block-st1-left a.wd-img-new-hot {display:block; margin-bottom:10px;}
.wd-block-st  .wd-block-st1-left a.wd-img-new-hot img { width:100%; height: 190px}
.wd-block-st  .wd-block-st1-left h4.wd-title-new {overflow:hidden; margin:2px 0px;}
.wd-block-st .wd-block-st1-left h4.wd-title-new a {font-family: roboto-bold; font-size:13px; color: #3d3d3d; line-height:16px;}
.wd-block-st  .wd-block-st1-left h4.wd-title-new a:hover  {color:#d80707;}
.wd-block-st  .wd-block-st1-left p {font-family: roboto-regular; color: #646464; line-height:17px; }
.wd-block-st  .wd-block-st1-right {overflow:hidden; float:left; width:50%;padding-left:2%}

/*----- Block 2 -----*/
.wd-st2-content {background: rgb(248, 248, 248);height: 65px;}
.wd-st2-content-date {width: 65px;height: 65px;background: url(../images/front/hinhvuong.jpg) no-repeat #fff;float: left;}
.wd-st2-content-date .wd-content-day h3{ font-family: roboto-black;padding-left: 22px;padding-top: 11px;font-size: 24px;color: #fff;}
.wd-st2-content-date .wd-content-moye{font-size: 14px;color: #fff;padding-left: 10px;margin-top: -1px;}
.wd-st2-content-date .wd-content-moye span { font-family: roboto-regular; }
.wd-st2-content-string {float: left;width: 75%;position: relative;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);padding: 0px 5px 0px 5px;font-size: 13px;color: #414141;}
.wd-st2-content-space {width: 32px;height: 15px;border-right: 1px dotted #BBA7A7;}
.wd-st2-content .wd-st2-content-string h4 a { font-family: roboto-bold ;font-size: 12px; color: #414141; font-weight: normal; font-style: normal; line-height:17px;}
.wd-st2-content .wd-st2-content-string h4 a:hover { color:#d80707; }

/*----- Block 4 -----*/
.wd-st4-content {overflow:hidden; float:left; min-height:100px;}
.row.st4 { /* padding-left: 15px; */ }
.row.st4 h4.wd-title-new {overflow:hidden; margin:2px 0px;}
.row.st4 h4.wd-title-new a {font-size:13px; color: #414141; line-height:16px;font-family: roboto-bold;}
.row.st4 h4.wd-title-new a:hover  {color:#d80707;}
.wd-st4-content .wd-img-new-hot { display: block; margin-bottom: 10px; }
.wd-st4-content .wd-img-new-hot img { width:100%;}

/* TOP TIN NOI BAT */
.wd-sub-page { float: left; }
.wd-sub-page .top-news-left {  }
.wd-block-st .wd-bv-border { float: left; width: 100%; border-bottom: 1px solid #ADA1A1; margin-top: 16px;}

/* CHIA SE BAI VIET */
.dlgVideo .form-cs-bai-viet .btn-info { background-color: #0c83d6 !important; font-family: roboto-regular !important; }
.dlgVideo .form-cs-bai-viet .wd-caption { margin-bottom: 5px; }
.dlgVideo .form-cs-bai-viet .wd-caption span { font-family: roboto-bold; font-size: 13px; }
.dlgVideo .z-icon-times { position: absolute; top: 4px; right: 0px; display: block; background: url(../images/front/controls.png) no-repeat center top; width: 38px; height: 25px; text-indent: -9999px; }

/* GIOI THIEU CHUNG */
.wd-table table {margin-top:20px;}
.wd-table table th, .wd-table table td{padding:10px 15px;text-align:center;}
.wd-table table th{background-color:rbg(250,250,250);border:#d2d1d1 solid 1px;color:#000;height:15px;line-height:15px;white-space:nowrap;}
.wd-table table td{border:#d2d1d1 solid 1px;}
.wd-table table .wd-left{text-align:left !important;}
table, table tr, table th, table td { border: 1px solid black;padding: 0px 4px;}

/* BEGIN LIST BAIVIET*/
 .list-news-thutuchanhchinh .wd-panel-news { display: inline-block; padding-top: 3px; padding-right: 4px; font-size: 12px !important; }
.list-news-baiviet .wd-panel-news { font-family: roboto-regular;  display: inline-block; padding: 6px 7px 0px;font-size: 14px !important;  }
.wd-panel-h .wd-panel-news.action {color: rgb(12, 131, 215); font-family: roboto-bold; font-weight: normal;margin-left: 14px;}
.list-news-thutuchanhchinh  {}
.row.wd-list {padding-bottom: 20px;margin-top: 20px; border-bottom: 1px solid #ADA1A1; margin-right:0px;margin-left:3px;}
.wd-list h4.wd-title-new {  padding-bottom: 5px;}
.wd-list .wd-title-new a {font-size: 14px;color: #414141;line-height: 16px;font-family: roboto-bold;}
.wd-list .wd-title-new a:hover {color: #d80707;}
.wd-list div:first-child {padding-left: 0px !important;padding-right: 0px;}
.wd-list div:last-child {padding-right: 0px;}
.wd-list .wd-days {margin-bottom: 5px; margin-right: 8px; }
.wd-panel-h.list-news span a {color: #fefeff;font-size: 15px;}
.wd-list-title { font-family:roboto-regular; font-size: 15px; color: #3d3d3d; padding-bottom: 14px;text-transform: uppercase; }
.wd-list-title-tintuc { font-style: italic; }
.wd-panel-h.list-news a {font-size: 14px; color: #3d3d3d; }
.wd-news-description { font-family: roboto-bold; font-size: 14px; line-height: 20px; color: #646464; margin-top: 35px; margin-bottom: 2px;}
.wd-news-content, .wd-news-content p, .wd-news-content span, .wd-news-content div { font-family: roboto-regular !important; /* font-size: 14px; */ text-align: justify; line-height: 24px !important; color: #3d3d3d !important; position: relative !important; text-rendering: geometricprecision !important; }
.wd-news-content.chi-dao {margin-top:40px;}
.wd-news-content p {padding-bottom:10px;}
/* .wd-news-content img {height:auto !important;} */
.wd-news-content h3, .wd-news-content h2, .wd-news-content h4 {padding-bottom:10px;}
.wd-news-content a:hover {color:#d80707;}
.gridBaiViet {border: none;background-color: #fff;min-height: 25px;}
.gridBaiViet table, .gridBaiViet table tr, .gridBaiViet table td, .gridBaiViet table th {border: none;}
.gridBaiViet .z-grid-body {width: 100% !important;}
.gridBaiViet .z-row-content {padding: 0px;}
.gridBaiViet .z-row-inner {width: 100%;}
.gridBaiViet .z-grid-paging-bottom {border: none;margin-top: -10px;text-align:center;}
.list-news.z-paging {text-align:center;}
.gridBaiViet .z-grid-paging-bottom .z-paging {border-bottom: none !important;}
.gridBaiViet .z-grid-paging-bottom .z-paging-info {display: none;}
.gridBaiViet span.wd-days {}
/*mobile*/
.wd-list.mobile .col-xs-5.col-img{padding-left:0px;}
.wd-list.mobile .col-xs-7.col-content {padding-left:0px;}

/* Odd rows in a listbox */
tr.odd td.gc,tr.odd,tr.z-listbox-odd,tr.z-grid-odd td.z-row-inner,tr.z-grid-odd{background: #FFFFFF none repeat scroll 0 0;}
/* Unselected rows with the mouse hovering over them */
tr.overd,td.overd,tr.z-listitem-over {background: #FFFFF none repeat scroll 0 0;}
/* Selected rows in a listbox */
tr.seld,td.seld,tr.z-listitem-seld {background: #FFFFF none repeat scroll 0 0;}
/* Selected rows with the mouse hovering over them */
tr.overseld,td.overseld,tr.z-listitem-over-seld {background: #FFFFF none repeat scroll 0 0;}
/* END LIST BAIVIET*/

/* BEGIN DETAIL BAIVIET*/
.wd-detail-title {font-size: 15px; font-weight: bold; font: 400 20px/23px roboto-regular; margin-bottom: 8px;}
.wd-detail-more span:first-child {font-size: 14px;font-family: roboto-bold;}
.wd-detail-more .wd-more-content {padding-left: 0px;}
.wd-detail-more .wd-more-content h4 {padding-top: 10px;}
.wd-detail-more .wd-more-content h4 a {font-family: roboto-bold;line-height: 20px;color: #414141;}
.wd-detail-more .wd-more-content h4 a:hover {color: #d80707;}
.wd-detail-more .hr-title-list {margin-top: 2px !important;margin-bottom: 9px !important;}
.wd-detail-more .wd-detail-more-hr-bar {float:left;width: 83%;margin-top: -7px;margin-left: 11px;}
.wd-detail-print-share {margin-top: 10px;}
.wd-detail-print-share a{border: 1px solid #CAC9C9;padding: 6px 7px 6px 27px;border-radius: 5px;position: relative;}
.wd-detail-print-share a.wd-detail-share {margin-left: 7px;margin-right: 2px;}
.wd-news-content table {width: 100% !important;}
.wd-news-content table, .wd-news-content table td, .wd-news-content table tr, .wd-news-content table th {border: 1px dotted #AFA3A3;}
.wd-news-content table td, .wd-news-content table td p {text-align:center;}
/* END DETAIL BAIVIET*/

/* scroll menu title */
.wd-panel-h .th-scroll-item #right-button {float:right;position: absolute;right: 19px;}
.wd-panel-h .th-scroll-item #left-button {float:left;margin-left:5px;}
.wd-panel-h .th-scroll-item > div {float:left;overflow:hidden;width:60%;margin-left:5px;}
.wd-panel-h .th-scroll-item2 { padding-right: 5px; }
.wd-panel-h .th-scroll-item2 > div { width: 60%; }
/* File download */
.wd-filedownload {display: block;margin-top:10px;}
.wd-filedownload span {font-weight:bold; font-family: roboto-regular;font-size:13px;}
.wd-filedownload-baiviet {  }
/* BEGIN DETAIL THUTUCCHITIET*/
.wd-thutuc.z-groupbox {padding-top: 7px;}
.wd-thutuc.z-groupbox .z-groupbox-header {border: none;}
.wd-thutuc.z-groupbox .z-groupbox-header .z-caption-content {background-color: rgb(129,179,48);width: 102%; margin-left: -14px;padding: 3px 15px;color: #fff;font-family:roboto-bold;height:32px;}
.wd-thutuc.z-groupbox .z-groupbox-content {border: none;}
.wd-thutuc.z-groupbox.z-groupbox-collapsed .z-groupbox-header .z-caption-content {background-color: rgb(238, 238, 238);color: rgb(61,61,61);}
.wd-thutuc.z-groupbox .z-caption.customIcon span {background: url(../images/front/caret-up.png) no-repeat;height: 16px;padding-right: 20px;float: right; /* margin-top: 0px; */ margin-right: -10px; width: 20px; position: absolute; top: 6px; right: 15px; } 
.wd-thutuc.z-groupbox.z-groupbox-collapsed .z-caption.customIcon span {background: url(../images/front/caret-down.png) no-repeat;}
.wd-thutuc table, .wd-thutuc table tr, .wd-thutuc table th, .wd-thutuc table td { border: 1px solid black; }
.wd-grid-thutuc table, .wd-grid-thutuc table tr, .wd-grid-thutuc table th, .wd-grid-thutuc table td { border: 1px; padding: 0px 4px;}
.wd-grid-thutuc table tr th:nth-child(1){ border-right: 1px solid #ddd; }
.wd-grid-thutuc table tr th:nth-child(2){ border-right: 1px solid #ddd; }
/* END DETAIL THUTUCCHITIET*/

/* BEGIN GOP Y DU THAO */
.wd-duthao-form {margin-top: 10px;border: 1px dashed #B9BBBD;}
.wd-duthao-form .row {padding: 6px 0px;}
.wd-duthao-form .col-name {text-align:right;padding:0px;}
.wd-duthao-result {clear:both;margin-top:5px;margin-bottom:11px;}
.wd-duthao-result span {font-size:14px;}
.wd-grid .z-grid-header, .wd-grid .z-grid-body {width: 100% !important;}
.wd-grid .z-column-content, .wd-grid a, .wd-grid span {font-size:14px;font-family: roboto-regular;}
.wd-grid td {padding: 7px 6px !important;}
.wd-grid th {padding: 7px 0px !important;}
.wd-grid td, .wd-grid th {border: 1px solid #CCCCCC;}
.wd-grid a:hover {color:red;}
/* END GOP Y DU THAO */

/* BEGIN HOI DAP TRUC TUYEN*/
.wd-cauhoi {border: 1px solid rgba(0,0,0,0.05);font: 400 14px/44px roboto-regular;background-color: #E2F3FF;padding: 7px; margin-bottom: 6px;line-height: 18px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; text-shadow: 0 1px 0 #FFF}
.wd-cauhoi .wd-cauhoi-nguoigui {text-align:right;font-style:italic;font-size: 13px;font-family: roboto-regular;}
.wd-cauhoi .wd-cauhoi-traloi {text-align:left;font-size: 13.5px;}
.wd-cauhoi .wd-cauhoi-traloi a:hover {color:red;}
.wd-tb-hoidap, .wd-tb-hoidap tr, .wd-tb-hoidap th, .wd-tb-hoidap td { border: 1px solid #D2C8C8 !important;}
.wd-tb-hoidap td {text-align:left;}
.wd-tb-hoidap th, .wd-tb-hoidap td {padding: 8px 12px;}
.wd-tb-hoidap .wd-tb-content {font-family: roboto-regular;font-size: 13px;font-weight: 500;}
.wd-tb-hoidap .wd-tb-title {font-family: roboto-bold;font-size: 13px;font-weight: bold;}
/* END HOI DAP TRUC TUYEN*/

/* BEGIN VAN BAN PHAP QUY*/
.wd-duan.wd-grid .z-column-content span {font-weight:bold;}
.wd-phapquy-date .z-hlayout-inner:nth-of-type(1) span {display:block;margin-top:3px;font-size: 13px;font-family: roboto-bold;}
.wd-phapquy-date .z-hlayout-inner:nth-of-type(2){float:right;}
.wd-phapquy-date .z-hlayout-inner:nth-of-type(2) span {width: 100px;}
/* END VAN BAN PHAP QUY*/

/* BEGIN TIM KIEM */
.wd-news-content .wd-ct-result { background-color: #f6f6f6; margin-bottom: 10px; padding: 0px; }
.wd-news-content .wd-ct-result p {padding: 5px 20px;}
.wd-ad-search input {margin-top: -1px;}
.wd-ad-search label {padding-left: 5px;font-size: 14px;font-family: roboto-regular;}
.wd-search-desc {}
/* END TIM KIEM*/

/*BEGIN CO CAU TO CHUC*/
.wd-organize {height: 746px;width: 100%;background: url(../images/front/bieudo3.png) no-repeat top center;position: relative;}
.wd-organize div {max-device-width: 632px;height: 100%;position: relative;margin-left: auto;margin-right: auto;}
.wd-item, .wd-item-ex {position: absolute;left: 0;top: 0;background-color: transparent;width: 212px; height: 36px;text-indent: -1983em;}
.wd-item a, .wd-item-ex a {display: block;width: 100%;height: 100%;}
.num-0 {top: 0px;left: 171px;width: 289px;height: 48px;}
.num-l1 {top: 150px;left: -17px;}
.num-l2 {top: 193px;left: -17px;}
.num-l3 {top: 237px;left: -17px;}
.num-l4 {top: 280px;left: -17px;}
.num-l5 {top: 324px;left: -17px;}
.num-l6 {top: 367px;left: -17px;height: 56px;}
.num-c1 {top: 150px;left: 208px;width:216px;height: 56px;}
.num-c2 {top: 214px;left: 208px;width:216px;height: 56px;}
.num-c3 {top: 277px;left: 208px;width:216px;}
.num-c4 {top: 320px;left: 208px;width:216px;}
.num-c5 {top: 363px;left: 208px;width:216px;}
.num-c6 {top: 406px;left: 208px;width:216px;height: 56px;}
.num-r1 {top: 150px;left: 438px;}
.num-r2 {top: 193px;left: 438px;}

.wd-popup-cctc {border: 1px solid rgb(246, 246, 246);background: #fff;color: #444;}
.wd-popup-cctc-header {background: #0c83d6;font-family: roboto-bold;font-size: 13px;height: 30px;padding: 6px; color: #fff;}
.wd-popup-cctc .z-icon-times { position: absolute; top: 4px; right: 0px; display: block; background: url(../images/front/controls.png) no-repeat center top; width: 38px; height: 25px; text-indent: -9999px;cursor:pointer;}
.wd-popup-cctc-content {font-family: roboto-regular;font-size: 14px;text-align: left;line-height:22px;}
.wd-popup-cctc-content td a {line-height: 20px;font-family:roboto-regular;font-size:14px;}
.wd-popup-cctc-content ol {padding-left: 20px;}
.wd-popup-cctc-content p {padding-bottom: 6px;}
.wd-popup-cctc-content h3.cctc-title {text-transform: uppercase;text-align: center;padding-bottom: 10px;font-size: 16px; font-family: roboto-bold;}
.wd-popup-cctc-content .cctc-table table, .wd-popup-cctc-content .cctc-table td, .wd-popup-cctc-content .cctc-table th, .wd-popup-cctc-content .cctc-table tr {border:none !important;}
.ban-lanh-dao-caption {margin-left: 5px;font-size: 16px;}
/*END CO CAU TO CHUC*/

/* BEGIN THONG TIN QUAN TRAC*/
.wd-quantrac-title {text-align: center; font-size: 17px;font-family: roboto-bold; display: block;padding-top: 6px;margin-bottom: 14px;}
.row.quantrac {border: 3px solid #2767b3;margin-left:0px;margin-right:0px;padding-right:0px;}
.row.quantrac .col-content {padding-left:0px;padding-right:0px;}
.row.quantrac .col-img {margin-bottom:-3px;padding-left:0px;padding-right:0px;border-left: 3px solid #2767b3;}
.row.quantrac .col-img .cropFrame {width:100% !important;}
.row.quantrac .wd-title-chitieu {border-bottom: 3px solid #2767b3;padding: 6px 10px;}
.row.quantrac .wd-title-chitieu span {font-size: 14px;font-family: roboto-bold;}
.row.quantrac ul {}
.row.quantrac ul li {background-color: #0c83d6; border-bottom: 1px solid #fff;}
.row.quantrac ul li a {font-size: 13px;color: #fff;display: block; padding: 7px 9px;}
.row.quantrac ul li a.action {background-color: rgb(129,179,48);}
.row.quantrac ul li a:hover {background-color: rgb(129,179,48);}
p.wd-quantrac-des {font-size: 14px;font-family:roboto;display:block;padding-top:9px;}
/* END THONG TIN QUAN TRAC*/

/* BEGIN DU AN */
h3.wd-duan-title {text-align: center; font-size: 17px;font-family: roboto-bold; display: block;padding-top: 6px;margin-bottom: 14px;}
.wd-duan-linhvuc {text-align: center;padding-bottom: 10px;padding-top:5px; }
.wd-duan-linhvuc span {font-size: 14px; font-family: roboto-bold;}
.wd-duan-linhvuc span.z-combobox {margin-top:-4px;}
.wd-duan-tinhtrang {text-align: center;padding-bottom: 11px;}
.wd-duan-tinhtrang .z-radio {padding-right: 15px;}
.wd-duan-tinhtrang .z-radio .z-radio-content {font-size: 14px; font-family: roboto-bold}
.wd-duan-tinhtrang .z-radio input {margin-top: -2px;margin-right:4px;}
.wd-duan.wd-grid .z-column-content, .wd-duan.wd-grid a, .wd-duan.wd-grid span {font-size: 12px; color: #000;font-family:roboto-regular;}
.wd-duan.wd-grid td {padding: 3px 3px !important;}
.wd-duan.wd-grid th {padding: 5px 0px !important;background-color: #CAD7E8;}
.wd-duan-total {text-align: center;margin-bottom: 13px;}
.wd-duan-total span {font-size: 14px; font-family: roboto}
.wd-duan-total-value {color: red; font-weight: bold;}
/* END DU AN */

/* BEGIN DE TAI KHOA HOC*/
.wd-table-search {margin-bottom: 16px; font-family: roboto-bold; font-size: 14px} 
.wd-table-search tr, .wd-table-search td, .wd-table-search {border: 1px solid #B7B0B0 !important;}
.wd-table-search td {padding: 10px 8px; font-family: roboto-regular;font-size: 13px;}
.wd-table-search td input,.wd-table-search .z-datebox-button, .wd-table-search .z-combobox-button {height: 27px;}
.wd-table-search .wd-table-search-title {text-align: right;background-color: #CAD7E8;color: #000;font-family: roboto-bold;font-size: 13px;}
/* END DE TAI KHOA HOC*/

/* BEGIN FAQ */
.treeli.row {padding-right: 0px;margin: 0px;padding-bottom: 10px;}
.treeli.row > div {padding:0px;}
ol.tree {width: 100%;}
.faqcattitle {color: DarkBlue;font-size: 20px;width: 100%;margin-top: 28px;}
.faqquestion {color: Brown;font-size: 17px;margin-top: 15px;text-align: justify;}
li.treeli {position: relative; list-style: none;}
li.file{margin-left: -1px !important;}
li.file a {background: url(document.png) 0 0 no-repeat;color: black;padding-left: 25px;text-decoration: none;margin-left: -15px;font-size: 14px;display: block;text-align: justify;margin-top: 7px;}
li.file a span.hd-tra-loi {font-weight: bold;color: Brown;}
li.treeli input {position: absolute;left: 0;margin-left: 0;opacity: 0;z-index: 2;cursor: pointer;height: 1em;width: 1em;top: 0;}
li.treeli input + ol {margin: -0.938em 0 0 -44px; height: 1em;}
li.treeli input + ol > li { display: none; margin-left: -14px !important; padding-left: 1px; }
li.treeli label { /* position: absolute; */ right: 12px; cursor: pointer; display: block;}
li.treeli input:checked + ol {margin: -1.25em 0 0 -44px;padding: 1.563em 0 0 80px;height: auto;}
li.treeli input:checked + ol > li { display: block; margin: 0 0 0.125em;  /* 2px */}
li.treeli input:checked + ol > li:last-child { margin: 0 0 0.063em; /* 1px */ }
li.treeli a img { width: 80px; height: 80px; }
/* END FAQ */

/* DA NGU */
.btn-global {background: url(../images/front/icon-global.png) no-repeat scroll;background-size: 19px;margin-top: 16px; width: 19px;height: 19px;margin-right:4px;}
.btn-search {background: url(../images/front/icon-search2.png) no-repeat scroll;background-size: 19px;margin-top: 16px; width: 19px;height: 19px;margin-right:4px;}
.btn-calendar {background: url(../images/front/icon-lichcongtac.svg) no-repeat scroll;background-size: 19px;margin-top: 16px; width: 19px;height: 19px;margin-right:11px;}

.container {width: 1070px;}
/* .container.home {margin-top:-28px;position:relative;} */
.sysWin {width: 50%;}

/*Media Query*/
@media all screen and (max-width: 1950px) {
	.container {width: 1070px;}
}

@media all screen and (max-width:1024px){
	.wd-panel-h .wd-panel-h-title  {font-size:15px;}
	.wd-panel-h .wd-panel-h-rss {width: 23px;}
	.wd-panel-h .wd-panel-h-show {padding-left:0px;}
	.wd-panel-h-group {margin-top: 4px;}
	.wd-list-type2 a.wd-img-new-hot img {height: 190px;}
}

@media all and (min-width: 1023px) and (max-width: 1091px){
	.container {width:1010px;}
}

@media all and (min-width: 991px) and (max-width: 1023px){
	ul.wd-dropdownMenu > li > a {padding: 14px 7px;}
	.container {width:970px;}
}

/** IPAD **/
@media only screen and (min-width: 736px) and (max-width: 991px) {
	.wd-st4-content .wd-img-new-hot img { width: 90px; height: 68px; }
	.wd-st4-content { margin-bottom: -10px; }
	.wd-st4-content .wd-list-type1 { width: 50%; border-bottom: 0px; padding-top: 0px; }
	.wd-st4-content .wd-list-type1 li { padding: 0px 7px 0px 0px; }
	.wd-st4-content .wd-list-type1 .wd-st4-mobile-item { padding-left: 15px; }
	.content-input .cbb-mobile { width: 100%; }
	.content-input .cbb-mobile .z-combobox-input { width: 96.5% !important; }
	.content-input .z-textbox { width: 100% !important; }
	/* .wd-st4-content .wd-list-type1 li:last-child { margin-right: 0px; }
	.wd-st4-content .wd-list-type1 li:first-child { padding-left: 0px; } */
	/* .content-input { padding: 0px 30px 10px 20px !important; }
	.content-input .input-mobile { width: 100%; }
	.content-input .input-mobile .z-combobox-input, .content-input .z-textbox { width: 100% !important; } */
}

@media only screen and (max-width: 991px) {
	body, div, p, a, table, td {
	  -webkit-text-size-adjust: none;
	  letter-spacing: .015em;
	}
	.container{width:100%}
	a#wd-logo{background:url(../images/front/logo_tablet.png) no-repeat scroll;width:354px;height:40px;float:left;margin: 5px 0px;}
	#wd-head-container {background-color: #005299; height: 52px;color: #fff;}
	.wd-right-content {padding-left: 7px;}
	.sysWin {width: 70%;}
	.wd-content-container {margin-top: 17px;}
	/* .trang-chu {margin-top: 45px !important;} */
	.container.home {margin-top: 0px !important;}
	.btn-global {margin-right: 14px;}
	.col-lg-4.col-home-only {margin-top: 0px !important;}
}

@media only screen and (max-width: 767px) {
	.wd-banner-home {margin-bottom:0px;}
	.sysWin {width: 70%;}
}

@media only screen and (max-width: 670px) {
	.wd-panel-h .th-scroll-item > div {width:50%;}
}

/* PHONE */
@media only screen and (max-width: 600px) {
	.container{width:100%}
	.wd-list-type2 a.wd-img-new-hot img {height: auto;}
	.sysWin {width: 80%;}
}

@media only screen and (max-width: 540px) {
	.wd-panel-h .th-scroll-item > div {width:40%;}
	.sysWin {width: 80%;}
}

/* PHONE */
@media only screen and (max-width: 767px) {
	.sysWin {width: 90%;}
	.wd-panel-h .th-scroll-item > div {width:30%;}
	a#wd-logo{background:url(../images/front/logo_m_new.png) no-repeat scroll;background-size: 220px;width:223px;height:40px;float:left;margin: 4px 2px 3px 0px;}
	.container {padding-left:7px;padding-right:7px;}
	.btn-hamburger {margin-left:5px}
	.wd-list-type1.first {border-top: 1px solid #999999;padding-top: 8px!important; margin-top: 8px;}
	.col-right {margin-top: 10px;}
	.wd-st4-content .wd-img-new-hot img {width: 90px;}
	.wd-panel-h-group {margin-top: 4px;}
	.wd-content-container {margin-top: -5px !important;}
	.wd-block-st {padding-top: 7px;}
	.popupShare {width: 90% !important;}
	.wd-panel-h .wd-panel-h-title ul.dropdown-menu li a {font-size: 12px;}
	.wd-list-title  {margin-bottom: -9px;}
	.wd-list-title.detail {margin-bottom: 10px;}
	.wd-detail-title {font: 400 18px/23px roboto}
	.z-groupbox>.z-groupbox-header .z-caption {font-size: 11px;}
	.wd-detail-more .wd-detail-more-hr-bar {width: 66%}
	.wd-more-content.clear {clear:both;padding-bottom:10px;}
	.wd-duthao-form .col-name {text-align:left;margin-left: 24px;margin-bottom: 5px;}
	.wd-duthao-form .col-content {margin-left: 10px;}
	.wd-popup-cctc-content td, .wd-popup-cctc-content td a {font-size: 13px;}
	.faqcattitle {font-size: 18px;margin-top: 4px;}
	.faqquestion {font-size: 15px;margin-top: 7px;}
	li.file a {padding-left: 13px;}
	.wd-list-type2 a.wd-img-new-hot img {height: auto;}
	.wd-news-content img {width:100% !important;height:auto !important;}
	.wd-news-content .wd-search-form .control-label {text-align: left !important;}
	.wd-news-content .wd-search-form .form-group .row {margin-left:10px;}
	.wd-news-content .wd-search-form .form-group .row .col-denngay {text-align:left !important;}
	.wd-news-content .wd-search-form .form-group {margin-bottom: 5px;}
	.gridTimKiem td a img {height: 80px !important;}
	#wd-wrapper {background: #fff;}
	#wd-head-container {background-color: rgb(12,131,215);}
	.col-lg-4.col-home-only {margin-top: 0px !important;}
	.wd-panel-h .wd-panel-h-show {padding-right: 5px;}
	.wd-block-st .block1 a.wd-img-new-hot img {height:auto;}
	.btn-global {margin-right: 4px;}
	.wd-st4-content .wd-list-type1 {padding-bottom: 2px !important;}
}

@media only screen and (max-width: 320px) {
	.wd-panel-h .wd-panel-h-title span {font-size:13px;}
	.wd-panel-h-group {margin-top: 6px;}
	.wd-panel-h .wd-panel-h-show {font-size: 11.5px; padding: 2px;}
	.wd-panel-h .wd-panel-h-rss {width: 23px;}
	.wd-panel-h.list-news span a {font-size: 13px;}
	.wd-panel-h .wd-panel-h-title {padding: 5px 7px 5px 5px;}
	.wd-panel-h .wd-panel-h-title span.caret {margin-left: 12px;}
	.wd-panel-h.se .wd-panel-h-title {margin-left: -4px;}
	.wd-ct-r-result-content .content-input .cbb .z-combobox-input {width:230px;}
	.wd-ct-r-result-content .content-input .z-textbox {width: 253px;}
	.container {padding-left:4px;padding-right:4px;}
	.wd-content-container {margin-top: -5px;}
	.btn-hamburger {margin-left:9px}
	/* .trang-chu {margin-top: 33px !important;} */
	.container.home {margin-top: 0px !important;}
}

@-moz-document url-prefix() {
   .col-home-only {margin-top: -23px;}
}

.col-lg-4.col-home-only {
	margin-top: -23px;
}

.ie .col-home-only {
	margin-top: -23px;
}

.search-right {display: inline-block;float: right;margin-bottom: 15px;}
.search-center {display: inline-block;text-align: center;margin-bottom: 15px;width: 100%;}
.search-center .year-box {width: 170px;}
.note-search-title {display: block;font-size: 14px;font-family: roboto-bold;margin-bottom: 10px; }
.thongkiemke-title {text-align: center;font-size: 17px;font-family: roboto-bold;display: block; padding-top: 6px;margin-bottom: 14px;text-transform: uppercase;}
.border-bottom {border-bottom: 1px solid black;}
/* .dlgVideo-vid .vjs-default-skin .vjs-big-play-button {display:none !important;} */
.z-notification-content {font-family: roboto,sans-serif;font-size: 14px;font-weight: normal; width: 100%;min-height: 60px;border-radius: 10px;padding: 18px 18px 15px 45px;position: relative;overflow: hidden; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);}
span .icon-plus {font-weight: 500;}
a span.blurred-text{font-family: roboto-regular;color: #999999;font-size: 12px !important;font-style: italic;font-weight: normal !important;}
li.li-relative {clear: both;margin-bottom: 6px;font-size:14px;}
li.li-relative a:hover {color: #d80707;}
li.li-relative a {font-size: 13px;}
div.icon-item {float: left; width: 10px;margin-right: 7px;}

.no-result {text-align: center;font-family: roboto-regular; color: #999999;font-size: 14px ;font-style: italic;font-weight: normal;}
.active {color: red !important;}
.z-label {font-size: 13px;font-family: roboto-regular;}
.z-radio-content {font-size: 13px;font-family: roboto-bold;}

@media (max-width: 1950px) and (max-width: 1050px) and (min-width: 1025px){
  	body {float: left;}
}
.z-messagebox-window table, .z-messagebox-window table tr, .z-messagebox-window table th, .z-messagebox-window table td{border:none;}
.z-window-modal .z-messagebox {position: absolute;left: 6px;}
.z-window-modal table, .z-window-modal table tr, .z-window-modal table th, .z-window-modal table td {border:none;}

#wd-ct-r-video-content-vid_display_button {
	left: 0.5em!important;
	top: 2.5em !important;
	/* font-size: 3em; */
	
	z-index: 2 !important;
	position: absolute !important;
	width: 57px !important;
	height: 42px !important;
	text-align: center !important;
	vertical-align: middle !important;
	cursor: pointer !important;
	
	/* Need a slightly gray bg so it can be seen on black backgrounds */
	/* background-color-with-alpha */
	background-color: #07141e !important;
	background-color: rgba(7, 20, 30, 0.7) !important;
	border: 0.1em solid #3b4249 !important;
	/* border-radius */
	/* -webkit-border-radius: 0.8em; */
	/* -moz-border-radius: 0.8em; */
	/* border-radius: 0.8em; */
	/* box-shadow */
	-webkit-box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25) !important;
	-moz-box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25) !important;
	box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25) !important;
	/* transition */
	-webkit-transition: all 0.4s !important;
	-moz-transition: all 0.4s !important;
	-o-transition: all 0.4s !important;
	transition: all 0.4s !important;
	background-image: url('../images/icon-play-youtube.png') !important;
	background-size: 56px !important;
}

.video {
	overflow: hidden;
}

#wd-ct-r-video-content-vid_controlbar, .jwcontrolbar {
	z-index: 104 !important;
}

.dlgVideo.popupShare {height: auto !important;}

/* .wd-ct-r-video-content-vid-title {  background-color: #eee; border: 1px solid #ddd; margin-bottom: 5px; width: 100%; height: 37px; padding-top: 8px; text-align: center; }
.wd-ct-r-video-content-vid-title p { font-family: roboto-medium; color: #000; font-size: 12px; } */

.portlet-title {
	height: 30px;
    position: absolute;
    width: 100%;
}

.portlet-title span{
	float: right;
    padding-right: 25px;
    padding-top: 0px;
}

.portlet-content {
	padding: 10px 0px 0px 0px;
}

.portlet-column .empty {padding: 10px;}
.aui-portal-layout-drag-indicator {height: 10px;}